input {
    text-align: center;
}

.calc {
    text-align: center;
}

/* カーソルを上に乗せた時に色を濃くする */
input:hover {
    background: #747373b9;
}

#filter:hover {
    background: #ffffff;
    /* ディスプレイ部分は無効化 */
}

/* クリック時に色を濃くする */
input:active {
    background: #5a5a5a;
}

body {
    padding-left: 15px;
    text-align: center;
}

h3 {
    padding-top: 20px;
    padding-bottom: 5px;
    text-align: center;
}

#filter,
#word {
    width: 450px;
}

.display_wrapper,
.read_wrapper,
.order_wrapper,
.sort_wrapper {
    text-align: center;
}

.word {
    text-align: center;
}

.submit_wrapper {
    text-align: center;
}

.first_row,
.second_row,
.third_row {
    padding-top: 3px;
}

#submit-btn {
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 15pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 23px 70px;
    /* 余白       */
    background: #000000;
    /* 背景色     */
    color: #ffffff;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    transition: .3s;
    /* なめらか変化 */
    box-shadow: 6px 6px 3px #666666;
    /* 影の設定 */
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
    /* 枠の指定 */
}

#submit-btn:hover {
    box-shadow: none;
    /* カーソル時の影消去 */
    color: #000000;
    /* 背景色     */
    background: #ffffff;
    /* 文字色     */
}

#submit-btn:disabled {
    pointer-events: none;
}

details {
    border: none;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}